/* Presencha styles */

.x-fullscreen, .x-form > .x-panel-body {
	background: #ddd url('../../resources/images/stripe.png') 0 0 repeat !important;
}

.x-button {
  	margin:0 10px;
  	padding:0.4em 0 0.6em 0;
  	font-size:0.9em;
  	line-height:1.4em;
  	-webkit-box-shadow:none;
}

.x-button span {
	color:#fff;
	text-align:center;
	letter-spacing: 0.1em;
	line-height:1.4em;
}

.x-button.green {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0E64B), color-stop(50%,#B6D841), color-stop(100%,#9AC836));
	background:-webkit-linear-gradient(top, #D0E64B 0%,#B6D841 50%,#9AC836 100%);
	background:linear-gradient(top, #D0E64B 0%,#B6D841 50%,#9AC836 100%);
	text-shadow: 0 1px 0 #688722;
	border: 1px solid #6F8F26;	
}

.x-button.x-button-pressed.green {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#88B230), color-stop(50%,#ACCC3C), color-stop(100%,#CCE346));
	background:-webkit-linear-gradient(top, #88B230 0%,#ACCC3C 50%,#CCE346 100%);
	background:linear-gradient(top, #88B230 0%,#ACCC3C 50%,#CCE346 100%);
	-webkit-box-shadow:inset 1px 3px 3px 0px #6E8E26; /*#0B3E4E*/
	border: 1px solid #6F8F26;	
}

.x-button.x-button-pressed span {
	color: #3C4F14;
	text-shadow: 1px 0 0 #E7FF52 !important;
}

.x-toolbar .x-button,
.x-toolbar .x-button.x-button-pressed {
	border: 1px solid #072B36;
	font-size:1.1em;
}

.x-toolbar.x-docked-top {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0A3A4A), color-stop(100%,#196674));
	background:-webkit-linear-gradient(top, #0A3A4A 0%, #196674 100%);
	background:linear-gradient(top, #0A3A4A 0%, #196674 100%);
	-webkit-box-shadow:0px 2px 2px #999;
	border-bottom: 1px solid #0B4355 !important;
}

.x-toolbar.x-docked-bottom {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#196674), color-stop(100%,#0A3A4A));
	background:-webkit-linear-gradient(top, #196674 0%, #0A3A4A 100%);
	background:linear-gradient(top, #196674 0%, #0A3A4A 100%);
	-webkit-box-shadow:0px 2px 2px #999;
	border-top: 1px solid #0B4355 !important;
}

.x-toolbar.x-toolbar-title {
	font-size:1em;
	text-shadow: #072B36;
}

.upload {
	margin:30px 20px 0 0;
	background: none;
}

.mascott {
	height: auto !important;
	margin: 0 auto !important;
	text-align:center;
}

img.vector {
	width: 100%;
	max-width: 70%;
	height: auto !important;
	padding: 20px;
	max-width: 350px;
}

.x-carousel-item img {
	height: 100% !important;
}

.x-carousel-item .slide-container {
	width:auto !important;
	height: auto !important;
	text-align: center;	
}